/*
    Form styles
*/
:root {
    --gap-form-field: 10px;
    --border-radius-form-el: 0px;
    --bg-form-el: #fff;
    --border-color-form-el: silver;
    --padding-left-form-element: 10px;
    --height-form-input: 30px;
    --margin-bottom-label-form: 10px;
}
.b-fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--gap-form-field);
}
.b-box-field {

}
.b-field-label {
    font-weight: 300;
    font-size: 16px;
}
.b-sup-field {
    color: var(--red);
}
.b-field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--gap-form-field);
}
.b-field__align-left {
    align-items: flex-start;
}
.b-field__align-center {
    justify-content: center;
}
.b-field__align-right {
    align-items: flex-end;
}
.b-field-row {
    flex-direction: row;
}
.b-field__textarea > div {
    width: 100%;
}
/* form elements */
.b-form-control {
    background: var(--bg-form-el);
    border-radius: var(--border-radius-form-el);
    border: 1px solid var(--border-color-form-el);
    width: 100%;
    max-width: 100%;
    padding-left: var(--padding-left-form-element);
    display: flex;
    align-items: center;
}
.wp-core-ui select.b-form-control {
    width: 100%;
    max-width: 100%;
}
.b-form-control-text {
    height: var(--height-form-input);
}
.b-form-control-color {
    height: var(--height-form-input);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.b-form-control-color input{
    border: 0px;
    padding: 0px;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius-form-el);
}
.b-form-control-color input::-webkit-color-swatch {
    border-radius: var(--border-radius-form-el);
}
.b-form-control-copy {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.4;
}
.b-form-control-text-block {
    padding-top: 10px;
    padding-bottom: 10px;
}
.b-form-control-copy {
    justify-content: space-between;
    align-items: flex-end;
}
.b-form-control-link {
    height: var(--height-form-input);
    justify-content: space-between;
    padding-right: var(--padding-left-form-element);
}
.b-form-control-link-span {
    max-width: 90%;
    display: block;
    overflow: hidden;
}
.b-form-control-select {
    height: var(--height-form-input);
}
.b-field-label {
    margin-bottom: var(--margin-bottom-label-form);
}
.b-field__image {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
/*
.b-meta-box {
    border: 1px solid #0003;
    padding: 20px 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
*/
.b-field-image-container {
    max-width: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}
.b-field-image {
    display: flex;
    gap: 10px;
    align-items: center;
}
.b-field-image-container img {
    max-width: 100%;
    max-height: 100%;
}

.a-field-image-hide {
    display: none;
}


.b-field__video {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.b-field-video-container {
    max-width: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}
.b-field-video {
    display: flex;
    gap: 10px;
    align-items: center;
}
.b-field-video-container img {
    max-width: 100%;
    max-height: 100%;
}

.a-field-video-hide {
    display: none;
}